.welcome-div {
    /* width: 100%; */
    height: 500px;
    display: flex;
    text-align: center;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid;
    border-width: 20px;
    background-image: url("https://www.southernliving.com/thmb/qMoPY7jgUzeUE7fvDMXEabLOwqk=/2000x1125/smart/filters:no_upscale()/GettyImages-519976808-2000-ceaf17f5941848e18bebc2009058fa5b.jpg");
}

.welcome-h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    border-bottom: solid;
    color: rgb(227, 245, 229);
    margin-top: 50px;
}

/* .welcome-aside {
    float: right;
    display: flex;
    
}

.welcome-img {
    width: 600px;
    margin-left: 50px;
    border: solid;
    margin-right: 100px;
    
} */

.welcome-p {
    height: 500px;
    margin-top: 0;
    background-color: #1e1e1e86;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 28px;
    color: rgb(228, 250, 225);
    font-weight: 800;



}

.jobs-hr {
    width: 1700px;
    height: 0px;
    border: 1px solid #1E1E1E;
    transform: rotate(-0.09deg);
    margin-top: 150px;


}

.jobs-h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

.jobs-div {
    margin-top: 50px;
}

.jobs-img-div {
    display: flex;
    justify-content: space-around;
    height: 350px;

}

.jobs-img {
    width: 500px;
    border: solid;
}

.jobs-p {
    display: flex;
    font-size: 30px;
    /* width: 1000px; */
    text-align: center;
    /* margin-left: 450px; */
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.locations-hr {
    width: 1700px;
    height: 0px;
    border: 1px solid #1E1E1E;
    transform: rotate(-0.09deg);
    margin-top: 120px;

}

.locations-div {}


.locations-p {
    font-size: 25px;
}

.locations-sec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.locations-div {
    display: flex;
    flex-direction: column;
    background-color: #426333;
    width: 420px;
    height: 540px;
    justify-content: center;
    padding-left: 20px;
    border-radius: 32px;
    color: aliceblue;
}

.locations-img {
    width: 400px;
    height: 400px;

}

.locations-ul {}

.locations-li {}