.profile-h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

.profile-div {
    display: flex;


    justify-content: center;

}

.profile-img {
    border-radius: 360px;
    width: 400px;
    padding-bottom: 10px;
}

.profile-ul {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: antiquewhite;
    margin-left: 60px;
    width: 600px;
    height: 300px;
    padding-left: 80px;
    padding-top: 40px;
    font-size: 20px;
    list-style-type: none;
    border-radius: 12px;
    font-weight: 400;
}

.profile-li {
    margin-bottom: 15px;

}

.profile-edit-btn {
    background-color: rgb(38, 62, 165);
    color: antiquewhite;
    width: 80px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

.all {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #577C46;
    color: antiquewhite;
    align-self: center;
    width: 150px;
    font-weight: 600;
}

.services-div-profile {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    background: #577C46;
    border-radius: 12px;
    /* padding: 20px; */
    /* padding-right: 200px;
    padding-left: 200px; */
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    justify-content: space-around;

}

.request-card {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: antiquewhite;
    width: 950px;
    height: 280px;
    border-radius: 12px;
    margin: 20px;
    padding-top: 10px;
    padding-right: 5px;
    align-items: center;
    font-size: 18px;

}

.card-aside-top {
    float: right;
    /* background-color: aliceblue; */
    border-radius: 12px;
    font-weight: 600;
    width: 100px;
    text-align: center;
}

.card-ul {}

.card-li {
    margin-bottom: 5px;
}

.card-aside-bottom {
    display: flex;
    float: right;
    flex-direction: column;


}

.date-requested-h3 {
    margin: 0%;
    padding-right: 10px;
}

.date-h5 {
    font-size: 18px;
    margin: 0%;
}

.ticket_delete {
    margin-left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    background-color: crimson;
    color: antiquewhite;
    border-radius: 100px;
}

.ticket_delete:hover,
.all:hover,
.profile-edit-btn:hover {
    background-color: aliceblue;
    color: black;
}

.form-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.label-img {
    width: 200px;

}